<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/parking" />
                <property name="username" value="rajas" />
                <property name="password" value="verysaferajas" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/Spot.xml" />
        <mapper resource="mappers/Vehicle.xml"/>
        <mapper resource="mappers/Parking.xml"/>
    </mappers>
</configuration>